
header {
    width: 100%;
    height: 100px;
    display: flex;
    
}


main {
width: 100%;
}

h4 {
    width: 280px;
}

.instructions {
    margin-top: 20px;
    margin-bottom: 20px;  
}

.inner-block {
    width: 290px;
}

.block {
    display: flex;
}

.block div {
    margin: 20px;
    border: 1px solid black;
}

.forms {
    display: flex;
}

.forms form {
    border: 1px solid black;
    padding: 10px;
}

.button {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}